.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
  }
  
  .carousel-images img {
    width: 100%;
    display: none;
  }
  
  .carousel-images img:first-child {
    display: block;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }